<div class="asset-container">
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit()">
    <!-- <div>
      <label for="branch_id">Branch ID:</label>
      <input id="branch_id" formControlName="branch_id">
    </div> -->

    <div class="form-group">
      <label for="branch_id">Branch:</label>
      <select formControlName="branch_id" id="branch_id" class="form-control" (change)="onBranchChange($event)" required>
        <option *ngFor="let branch of branches" [value]="branch.branch_id">{{ branch.branch_name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="branch_name">Branch Name:</label>
      <input id="branch_name" formControlName="branch_name" class="form-control" readonly>
    </div>

    <!-- <div>
      <label for="group_id">Group ID:</label>
      <input id="group_id" formControlName="group_id">
    </div> -->

    <div class="form-group">
      <label for="group_id">Group:</label>
      <select formControlName="group_id" id="group_id" class="form-control" required>
        <option *ngFor="let group of groups" [value]="group.group_id">{{ group.group_name }}</option>
      </select>
    </div>


    <div>
      <label for="desktop_name">Desktop Name:</label>
      <input id="desktop_name" formControlName="desktop_name">
    </div>
    <div>
      <label for="configuration">Configuration:</label>
      <input id="configuration" formControlName="configuration">
    </div>
    <div>
      <label for="tag_name">Tag Name:</label>
      <input id="tag_name" formControlName="tag_name">
    </div>
    <div>
      <label for="warranty">Warranty:</label>
      <input id="warranty" formControlName="warranty">
    </div>
    <div>
      <label for="price">Price:</label>
      <input id="price" formControlName="price">
    </div>
    <div>
      <label for="purchase_date">Purchase Date:</label>
      <input id="purchase_date" formControlName="purchase_date" type="date">
    </div>
    <div>
      <label for="status">Status:</label>
      <input id="status" formControlName="status">
    </div>
    <div>
      <label for="asset_get_by">Asset Get By:</label>
      <input id="asset_get_by" formControlName="asset_get_by">
    </div>
    <div>
      <label for="serial_number">Serial Number:</label>
      <input id="serial_number" formControlName="serial_number">
    </div>
    <button type="submit">{{ isEdit ? 'Update Asset' : 'Add Asset' }}</button>
  </form>

  
